###> carloshmarques/Build-web-apps-with-ASP ###

##### Folders #####
build/
node_modules/
vendor/
var/
.tmp/

# IDE's

.idea/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< carloshmarques/Build-web-apps-with-ASP ###
